<p id="notice"><%= notice %></p>

<p>
  <strong>Capital inicial:</strong>
  <%= @wallet.capital_inicial %>
</p>

<%= link_to 'Ver operaciones', wallet_operations_path(@wallet) %>
<%= link_to 'Edit', edit_wallet_path(@wallet) %> |
<%= link_to 'Back', wallets_path %>
