<tr class="data-activo">
  <td>
    <div>
      <%= operation.fecha_entrada %>
    </div>
    <div>
      <%= operation.status %>
      <%= operation.posicion %>
    </div>
    <div>
      <span><%= operation.broker %></span>
      <strong class="nombre-activo"><%= operation.activo %></strong>
    </div>
    <div><strong>Precio actual:</strong><span class="price"></span></div>
    <div>
      <a
        href='#'
        class="btn-red"
        data-activo="<%= operation.activo %>"
        data-id="<%= operation.id %>"
        data-controller="operation"
        data-action="click->operation#update"
      >Actualizar</a>
    </div>
  </td>
  <td><%= operation.precio_de_compra %></td>
  <td><%= operation.unidades_compradas %></td>
  <td><%= operation.stop_loss %></td>
  <td><%= operation.status %></td>
  <td><%= operation.comentario %></td>
  <td><%= link_to 'Show', [@wallet, operation] %></td>
  <td><%= link_to 'Edit', edit_wallet_operation_path(@wallet, operation) %></td>
  <td><%= link_to 'Destroy', [@wallet, operation], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
