<p id="notice"><%= notice %></p>

<h1>Operations</h1>

<table>
  <thead>
    <tr>
      <th>Activo</th>
      <th>Broker</th>
      <th>Fecha entrada</th>
      <th>Precio de compra</th>
      <th>Unidades compradas</th>
      <th>Stop loss</th>
      <th>Posicion</th>
      <th>Status</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operations.each do |operation| %>
      <tr>
        <td><%= operation.activo %></td>
        <td><%= operation.broker %></td>
        <td><%= operation.fecha_entrada %></td>
        <td><%= operation.precio_de_compra %></td>
        <td><%= operation.unidades_compradas %></td>
        <td><%= operation.stop_loss %></td>
        <td><%= operation.posicion %></td>
        <td><%= operation.status %></td>
        <td><%= operation.comentario %></td>
        <td><%= link_to 'Show', [@wallet, operation] %></td>
        <td><%= link_to 'Edit', edit_wallet_operation_path(@wallet, operation) %></td>
        <td><%= link_to 'Destroy', [@wallet, operation], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operation', new_wallet_operation_path %>
